.board {
    border-collapse:collapse;
    border-spacing:0;
}
.block {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid #666;
    position: relative;
}
.highlight .line-0,
.highlight .line-1,
.highlight .line-2,
.highlight .line-3 {
    background: red;
}
.line-0 {
    position: absolute;
    width: 1px;
    height: 25px;
    background: #666;
    left: 25px;
    top: 0;
}
.line-3 {
    position: absolute;
    width: 25px;
    height: 1px;
    background: #666;
    left: 0;
    top: 25px;
}
.line-1 {
    position: absolute;
    width: 25px;
    height: 1px;
    background: #666;
    left: 25px;
    top: 25px;
}
.line-2 {
    position: absolute;
    width: 1px;
    height: 25px;
    background: #666;
    left: 25px;
    top: 25px;
}